.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.title {
  margin-left: 15%;
}

.container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
